/* Color Theme Swatches in Hex */
.color-theme_ec478fadfcbd4316002bb7b9601a0978-1-hex { color: #5E6F5F; }
.color-theme_ec478fadfcbd4316002bb7b9601a0978-2-hex { color: #C7B575; }
.color-theme_ec478fadfcbd4316002bb7b9601a0978-3-hex { color: #F1E8D9; }
.color-theme_ec478fadfcbd4316002bb7b9601a0978-4-hex { color: #B35A2E; }
.color-theme_ec478fadfcbd4316002bb7b9601a0978-5-hex { color: #434341; }

/* Color Theme Swatches in RGBA */
.color-theme_ec478fadfcbd4316002bb7b9601a0978-1-rgba { color: rgba(94, 111, 95, 1); }
.color-theme_ec478fadfcbd4316002bb7b9601a0978-2-rgba { color: rgba(199, 181, 117, 1); }
.color-theme_ec478fadfcbd4316002bb7b9601a0978-3-rgba { color: rgba(241, 232, 217, 1); }
.color-theme_ec478fadfcbd4316002bb7b9601a0978-4-rgba { color: rgba(179, 90, 46, 1); }
.color-theme_ec478fadfcbd4316002bb7b9601a0978-5-rgba { color: rgba(67, 67, 65, 1); }

/* Color Theme Swatches in HSLA */
.color-theme_ec478fadfcbd4316002bb7b9601a0978-1-hsla { color: hsla(123, 8, 40, 1); }
.color-theme_ec478fadfcbd4316002bb7b9601a0978-2-hsla { color: hsla(46, 42, 61, 1); }
.color-theme_ec478fadfcbd4316002bb7b9601a0978-3-hsla { color: hsla(37, 46, 89, 1); }
.color-theme_ec478fadfcbd4316002bb7b9601a0978-4-hsla { color: hsla(19, 59, 44, 1); }
.color-theme_ec478fadfcbd4316002bb7b9601a0978-5-hsla { color: hsla(60, 1, 25, 1); }
