@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    background-color: lightskyblue;
    height: 100dvh;
    width: 100dvw;
}

header{
    background-color: beige;
    padding: 1rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    h1{
        color: lightseagreen;
        flex: 0 0 200px;
    }
    nav{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
}

header a{
    background-color: lightgreen;
    color: black;
    padding: .8rem;
    margin: 5px;
    border-radius: .5rem;
    text-decoration: none;
    text-align: center;
}
header a:hover{
    background-color: rgb(39, 63, 39);
    color: lightgreen;
    transition: .4s;
}

main{
    background-color: lightgreen;
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 1rem;
    max-width: 900px;
    line-height: 1.3rem;
    color: rgb(39, 15, 15);
    h2{
        margin: 1rem;
    }
}