@font-face {
    font-family: figtree;
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}
*{
    margin: 0px;
}
body{
    background-color: #F6D050;
    font-family: figtree, Arial, Helvetica, sans-serif;
}
main > p, h1{
    margin-top: 20px;
}
main{
    background-color: white;
    border-style: solid;
    width: 380px;
    height: 600px;
    margin: 500px auto;
    border-radius: 25px;
    box-shadow: 11px 8px 0px 0px;
    padding: 30px;
}
img{
    border-radius: 10px;
    width: 100%;
}
.learning{
    background-color: #F6D050;
    padding: 9px;
    border-radius: 8px;
    display: inline-block;
    font-size: large;
    font-weight: 700;
}
.fotog{
    margin-top: 105px;
    display: inline-block;
}
.greg{
    display: inline-block;
    margin: auto;
    font-weight: 500;
}
.attribution{
    margin-top: 30px;
}
