
section{
    background-color: white;
    margin: 100px 20px;
    border-radius: 20px;

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
section div{
    background-color: darkblue;
    height: 150px;
    width: 150px;
    margin: 5px;
    border-radius: 20px;

    flex: auto;
}