@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    padding: 70px;
    color: white;
    text-align: center;
}
header h1{
    font-family: passion one;
    font-size: 4em;
}
header a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
}
header a:hover{
    text-decoration: underline white;
}